.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-cross-close {
    width: 23px;
    height: 23px;
    background-position: -15px -15px;
}

.sprite-icon_checkbox {
    width: 20px;
    height: 20px;
    background-position: -68px -15px;
}

.sprite-icon_checkbox_checked {
    width: 20px;
    height: 20px;
    background-position: -118px -15px;
}

.sprite-icon_fb {
    width: 12px;
    height: 22px;
    background-position: -68px -65px;
}

.sprite-icon_fb_hover {
    width: 12px;
    height: 22px;
    background-position: -110px -65px;
}

.sprite-icon_inst {
    width: 21px;
    height: 21px;
    background-position: -15px -117px;
}

.sprite-icon_inst_hover {
    width: 21px;
    height: 21px;
    background-position: -66px -117px;
}

.sprite-icon_password {
    width: 15px;
    height: 17px;
    background-position: -152px -65px;
}

.sprite-icon_radio {
    width: 20px;
    height: 20px;
    background-position: -117px -117px;
}

.sprite-icon_radio_checked {
    width: 20px;
    height: 20px;
    background-position: -168px -15px;
}

.sprite-icon_vk {
    width: 25px;
    height: 16px;
    background-position: -167px -112px;
}

.sprite-icon_vk_hover {
    width: 25px;
    height: 16px;
    background-position: -167px -158px;
}

.sprite-lcon_login {
    width: 18px;
    height: 16px;
    background-position: -197px -65px;
}

.sprite-lcon_user {
    width: 15px;
    height: 15px;
    background-position: -15px -204px;
}

















