body{
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
}

h2{
	font-size: 30px;
	line-height: normal;
}
h3{
	font-size: 24px;
	line-height: normal;
}